{% extends 'Garg/base.html' %}
{% load static %}

{% block title %}Enfermería - Toma de Exámenes - GARG Servicios{% endblock %}

{% block content %}
<h2>Servicio de Enfermería: Toma de Exámenes</h2>
<p>Nuestro equipo de enfermería está preparado para brindarte una atención cálida y profesional en la toma de exámenes y procedimientos básicos de salud, siempre en la comodidad de tu hogar o donde lo necesites.</p>
<br>
<ul>
  <li>1. Toma de muestras para laboratorio con protocolos estrictos de bioseguridad.</li>
  <li>2. Administración de medicamentos, curaciones, vacunación y apoyo en primeros auxilios.</li>
  <li>3. Atención personalizada, adaptada a tus horarios y necesidades.
</li>
  <li>4. Orientación y acompañamiento durante todo el proceso.
</li>
<br>
<br>
<br>
<br>
<br>
<br>
</ul>
{% endblock %}
