{% extends 'Garg/base.html' %}
{% load static %}

{% block title %}Medicina Mixta - GARG Servicios{% endblock %}

{% block content %}
<br>
<h2>Servicio de Medicina Mixta</h2>
<br>
<p>La modalidad mixta de Garg combina la atención presencial con el seguimiento remoto, optimizando el cuidado y la comodidad del paciente.
</p>
<br>
<ul>
  <li>1. Un enfermero visita tu domicilio para realizar controles, valoraciones y cuidados según lo indicado por el médico.</li>
  <li>2. El médico está disponible por teléfono para supervisar, orientar y ajustar el plan de atención en tiempo real.</li>
  <li>3. El enfermero educa y acompaña al paciente en todos los tópicos solicitados por el médico durante la evaluación, asegurando comprensión y adherencia al tratamiento.</li>
  <li>4. Esta modalidad es ideal para el manejo de enfermedades crónicas, seguimiento post-hospitalario y pacientes con movilidad reducida.
</li>
  <li>5. Facilita una atención continua, personalizada y segura, combinando la presencia física con la telemedicina.
</li>
  <br>
  <li>Así, Garg garantiza un cuidado integral y coordinado, adaptado a las necesidades específicas de cada paciente..</li>
</ul>

<div class="media-carousel">
    <br>
    <br>
  <h2>Doctor encargado </h2>
  <br>
    <li>Milton Cedeño</li>
    <br>
  <div class="carousel-wrapper">
    <div class="carousel-slide active" id="slide1">
      <video controls>
        <source src="{% static 'Garg/videos/video-medico.mp4' %}" type="video/mp4">
        Tu navegador no soporta video.
      </video>
    </div>
   
  </div>

  <div class="carousel-controls">
    <button onclick="showSlide(1)">1</button>
    <button onclick="showSlide(2)">2</button>
  </div>
</div>

<script>
function showSlide(slideNumber) {
    const slides = document.querySelectorAll('.carousel-slide');
    slides.forEach((slide, index) => {
        slide.classList.remove('active');
        if (index === slideNumber - 1) {
            slide.classList.add('active');
        }
    });
}
</script>
{% endblock %}
