{% extends 'Garg/base.html' %}
{% load static %}

{% block title %}Medicina Presencial - GARG Servicios{% endblock %}

{% block content %}
<br>
<h2>Servicio de Medicina Presencial</h2>
<br>
<p>La consulta médica presencial en Salud Garg está diseñada para ofrecerte una atención integral y humana en nuestras instalaciones (ubicada en Peñaflor) o en tu domicilio, según tu preferencia.
</p>
<br>
<ul>
  <li>1. Evaluación completa del estado de salud con examen físico detallado.</li>
  <li>2. Diagnóstico y tratamiento de enfermedades agudas y crónicas.</li>
  <li>3. Coordinación y solicitud de exámenes, imágenes y derivaciones a especialistas cuando sea necesario.</li>
  <li>4. Actualización de inmunizaciones y controles preventivos.</li>
  <li>5. Seguimiento personalizado para asegurar el bienestar continuo del paciente.</li>
  <br>
  <br>
  <li>Nuestro compromiso es brindarte una atención cercana, profesional y adaptada a tus necesidades, facilitando el acceso a la salud con calidad y calidez.</li>
  <br>
  <br>
  <br>
  <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</ul>
{% endblock %}
