{% extends 'Garg/base.html' %}
{% load static %}

{% block title %}Telemedicina - GARG Servicios{% endblock %}

{% block content %}
<div class="servicio-container">
    <h1>Telemedicina</h1>
    <p>
       Nuestra telemedicina permite la atención médica a distancia a través de plataformas digitales, facilitando el acceso a consultas con médicos generales y especialistas desde cualquier lugar, sin necesidad de desplazamiento. 
Entre sus principales funciones se encuentran:

<br>
<br>

1. Evaluación del estado general de salud y detección de riesgos.
<br>
<br>
2. Asesoramiento en la interpretación de resultados de exámenes.
<br>
<br>
3. Orientación y resolución de dudas médicas tanto para adultos como para niños.
<br>
<br>
4. Emisión de recetas y licencias médicas electrónicas, según evaluación médica.
<br>
<br>
5. Solicitud de órdenes de exámenes y seguimiento de enfermedades crónicas.
<br>
<br>
6. Disponibilidad de una amplia gama de especialidades médicas agendables en línea
<br>
como cardiología, dermatología, ginecología, pediatría, psiquiatría, entre otras.
<br>
<br>
7. Atención según agenda, la cual es amigable para cualquier persona.

    </p>

    <div class="video-container">
        <video controls width="100%" height="auto">
            <source src="{% static 'Garg/videos/telemedicina.mp4' %}" type="video/mp4">
            Tu navegador no soporta la reproducción de video.
        </video>
    </div>
</div>
{% endblock %}
